__pycache__/
ideas/
logs/
carpeta1/
carpeta2/

duplicados_entre_directorios.txt
hashes_de_carpeta1.txt
hashes_de_carpeta1_conservados.txt
hashes_de_carpeta1_duplicados.txt
hashes_de_carpeta2.txt
hashes_de_carpeta2_conservados.txt
hashes_de_carpeta2_duplicados.txt
registro_eliminados.txt